/* BASIC STYLES HERE */
body {
  background-position: center;
  background-size: cover;
}

.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.offcanvas {
  --bs-offcanvas-width: 22.5rem;
}

.footer-content {
  background: rgba(0, 0, 0, 0.4);
}

.quote-design {
  max-width: fit-content;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.actual-author {
  transition: all 0.4s;
  opacity: 0;
}

.great-quote:hover > .actual-author {
  opacity: 1;
}

.weather-design {
  max-width: fit-content;
  transition: all .4s;

  &:hover {
    box-shadow: 0 0 30px azure;
  }
}

